@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
// FONT
$inter: "Inter", sans-serif;
$spacing: -0.05em;
// FONT WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
// FONT SIZE
$title: 3rem;
$subtitle: 1.125rem;
$button: $subtitle;
$paragraph: 0.875rem;
// COLORS
$primary-purple: #5e17eb;
$secondary-purple: #8c52ff;
$white: #fff;
// PADDINGS
$page: 1.8125rem 5.0625rem;
$services: 5.8125rem 5.75rem;
// SIZE
$windowH: 100vh;
$windowW: 100vw;
// MIXINS
@mixin full-windowH {
  height: $windowH;
}
@mixin flex {
  display: flex;
}
@mixin flex-column {
  @include flex;
  flex-direction: column;
}
@mixin flex-row {
  @include flex;
  flex-direction: row;
}
@mixin center-y {
  align-items: center;
}
@mixin center-x {
  justify-content: center;
}
@mixin row-center-y {
  @include flex-row;
  @include center-y;
}
@mixin column-center-y {
  @include flex-column;
  @include center-y;
}
@mixin row-center-x {
  @include flex-row;
  @include center-x;
}
@mixin column-center-x {
  @include flex-column;
  @include center-x;
}
@mixin spacing {
  letter-spacing: $spacing;
}
@mixin transition {
  transition: all 300ms ease-in-out;
}
@mixin title {
  font-size: $title;
  color: $white;
  font-weight: $bold;
}
@mixin paragraph {
  color: $white;
  font-size: $paragraph;
  font-weight: $regular;
  @include spacing;
}
@mixin blur-card {
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(0.9375rem);
  border-radius: 2.1875rem;
}
@mixin btn {
  background-color: $white;
  color: $primary-purple;
  font-weight: $medium;
  @include spacing;
}
@mixin form($width) {
  height: 1.875rem;
  border: 1px solid $white;
  width: $width;
}
@mixin bgItem($Y-position, $value, $X-position, $position-value) {
  #{$Y-position}: $value;
  #{$X-position}: $position-value;
  z-index: -1;
  position: absolute;
}
@mixin size($height, $width) {
  height: $height;
  width: $width;
}
/*
================================================================
GENERAL
================================================================
*/
* {
  font-family: $inter;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
html{
	scroll-behavior: smooth;
}
/*
================================================================
SCROLLBAR
================================================================
*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: $white;
  border-radius: 6.25rem;
}

/*
================================================================
BACKGROUND
================================================================
*/
body {
  background-color: $primary-purple;
  padding: $page;
  overflow-x: hidden !important;
  #item_1 {
    @include bgItem(top, -17.2706rem, left, -24.125rem);
    @include size(61.385rem, 55.8462rem);
    transform: rotate(-58.8deg);
  }
  #item_2 {
    @include bgItem(top, -0.625rem, right, 18.75rem);
    @include size(27.1444rem, 24.695rem);
    transform: rotate(16.13deg);
  }
  #item_3 {
    @include bgItem(top, 12.5rem, right, 120px);
    @include size(18.5625rem, 16.8875rem);
    transform: rotate(105deg);
  }
  #item_4 {
    @include bgItem(top, -10.625rem, right, -31.25rem);
    @include size(86.5269rem, 78.72rem);
    transform: rotate(-165.17deg);
  }
  #item_5 {
    @include bgItem(top, 38.75rem, left, -320px);
    @include size(55.9131rem, 50.8681rem);
    transform: rotate(16.13deg);
  }
  #item_6 {
    @include bgItem(top, 66.0656rem, left, 31.25rem);
    @include size(20.6438rem, 18.7813rem);
    transform: rotate(118deg);
  }
  #item_7 {
    @include bgItem(bottom, -84.375rem, right, -31.25rem);
    @include size(55.9131rem, 50.8681rem);
    transform: rotate(-86.77deg);
  }
  #item_8 {
    @include bgItem(top, 100rem, left, -12.5rem);
    @include size(27.1531rem, 24.76rem);
    transform: rotate(31.18deg);
  }
  #item_9 {
    @include bgItem(bottom, -118.125rem, left, 0);
    @include size(61.8075rem, 56.2306rem);
    transform: rotate(-179.66deg);
  }
  #item_10 {
    @include bgItem(top, 125rem, right, -7.5rem);
    @include size(19.3rem, 17.5994rem);
    transform: rotate(9.96deg);
  }
  #item_11 {
    @include bgItem(bottom, -118.75rem, right, 9.375rem);
    @include size(35.8362rem, 32.6025rem);
    transform: rotate(62.47deg);
  }
}
/*
================================================================
HEADER & NAV
================================================================
*/
.header {
  height: $windowH;
  .nav {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    .nav_logo {
      @include size(4.1875rem, 7.375rem);
      @include row-center-y;
    }
    .nav_menu {
      width: 26.125rem;
      ul {
        @include flex-row;
        justify-content: space-between;
        li a {
          @include paragraph;
          border-radius: 0.3125rem;
          padding: 0.4375rem 0.75rem; 
          transition: all 400ms ease;
        }
      }
    }
  }
  section {
    height: calc(90% - 4.1875rem);
    @include row-center-y;
    div {
      @include flex-column;
      height: 18.125rem;
      .header_text {
        height: 100%;
        .header_title {
          @include title;
          @include spacing;
          width: 37.5rem;
          span {
            color: $secondary-purple;
          }
        }
        p {
          @include paragraph;
          width: 28.125rem;
        }
      }
      .header_btn {
        @include btn;
        @include size(3.0625rem, 8.9375rem);
        border-radius: 0.5625rem;
        font-size: $button;
        text-shadow: 0 0 4.5rem #5e17eb;
        transition: all 300ms ease;
      }
    }
  }
}
/*
================================================================
SERVICES & ABOUT
================================================================
*/
.main {
  .services {
    @include full-windowH;
    @include flex-column;
    justify-content: space-between;
    .services_title {
      @include title;
    }
    .services_container {
      @include blur-card;
      @include size(37rem, auto);
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      padding:0 5.8125rem;
      .service_card{
        height: auto;
        .service{
          @include flex-column;
          justify-content: flex-end;
          @include size(12.5rem, 12.5rem);
          background-color: rgba(0, 0, 0, 0.3);
          padding-bottom: 1.875rem;
          margin-bottom: 1.375rem;
          border-radius: 1.25rem;
          .service_icon{
            @include column-center-y;
            img{
              @include size(2rem, 2rem);
              margin-bottom: 3.5625rem;
            }
            h3{
              @include paragraph;
              font-size: $subtitle;
            }  
          }
        }
        .description{
          @include size(11.625rem, 12.5rem);
          p{
            @include paragraph;
            font-weight: $light;
            margin-bottom: 1.5rem;
          }
          button{
            @include size(3.375rem, 12.5rem);
            @include paragraph;
            font-size: $button; 
            color: $white;
            background-color: transparent;
            border-radius: 0.625rem;
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 500ms ease;
          }
        }
      }
    }
  }
  .about {
    @include row-center-y;
    height: 100vh;
    div {
      @include flex-column;
      height: 25rem;
      justify-content: space-around;
      .about_title {
        @include title;
      }
      p {
        @include paragraph;
        font-size: $subtitle;
        width: 43.75rem;
        line-height: 130.52%;
      }
    }
    img{
      width: 21.875rem;
      margin-left: 5rem;
    }
  }
}
/*
================================================================
EMAIL FORM & FOOTER
================================================================
*/
footer {
  @include flex-column;
  height: 31.25rem;
  justify-content: space-between;
  .contact_container {
    @include column-center-y;
    @include center-x;
    @include blur-card;
    @include size(23.0625rem, 55.75rem);
    margin: 0 auto;
    .contact_text {
      @include column-center-y;
      justify-content: space-around;
      height: 8.8125rem;
      h2 {
        @include title;
      }
      p {
        @include paragraph;
        width: 29.25rem;
        text-align: center;
      }
    }
    .contact_form {
      margin-top: 3.6875rem;
      .form {
        @include flex;
        .contact_btn {
          @include btn;
          @include form(5.8125rem);
          border-radius: 0.375rem 0 0 0.375rem;
          transition: all 0.3s ease;
        }
        input {
          @include form(22.0625rem);
          @include paragraph;
          padding: 0 0.8125rem;
          color: $white;
          background-color: transparent;
          outline: none;
          border-radius: 0 0.375rem 0.375rem 0;
          &::placeholder {
            @include paragraph;
            color: $white;
            font-weight: $light;
          }
        }
      }
    }
  }
  .copy_text {
    @include column-center-y;
    p {
      @include paragraph;
    }
  }
}
/*
================================================================
SCROLL TO TOP BUTTON
================================================================
*/
body{
  .scroll{
    @include size(3.4375rem, 3.4375rem);
    @include row-center-x;
    @include column-center-y;
    position: fixed;
    bottom: 3.4375rem;
    right: -3.4375rem;
    border-radius: 0.625rem;
    background-color: $secondary-purple;
    transition: all 250ms ease;
    .scroll_icon img{
      @include size(20px, 20px);
    }
  }
  .on_window{
    right: 3.4375rem;
  }
}
