@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

body {
  background-color: #5E17EB;
  padding: 1.8125rem 5.0625rem;
  overflow-x: hidden !important;
}
body #item_1 {
  top: -17.2706rem;
  left: -24.125rem;
  z-index: -1;
  position: absolute;
  height: 61.385rem;
  width: 55.8462rem;
  transform: rotate(-58.8deg);
}
body #item_2 {
  top: -0.625rem;
  right: 18.75rem;
  z-index: -1;
  position: absolute;
  height: 434.3104px;
  width: 395.12px;
  transform: rotate(16.13deg);
}
body #item_3 {
  top: 12.5rem;
  right: 120px;
  z-index: -1;
  position: absolute;
  height: 18.5625rem;
  width: 16.8875rem;
  transform: rotate(105deg);
}
body #item_4 {
  top: -10.625rem;
  right: -31.25rem;
  z-index: -1;
  position: absolute;
  height: 86.5269rem;
  width: 78.72rem;
  transform: rotate(-165.17deg);
}
body #item_5 {
  top: 38.75rem;
  left: -320px;
  z-index: -1;
  position: absolute;
  height: 55.9131rem;
  width: 50.8681rem;
  transform: rotate(16.13deg);
}
body #item_6 {
  top: 66.0656rem;
  left: 31.25rem;
  z-index: -1;
  position: absolute;
  height: 20.6438rem;
  width: 18.7813rem;
  transform: rotate(118deg);
}
body #item_7 {
  bottom: -1350px;
  right: -31.25rem;
  z-index: -1;
  position: absolute;
  height: 55.9131rem;
  width: 50.8681rem;
  transform: rotate(-86.77deg);
}
body #item_8 {
  top: 1600px;
  left: -200px;
  z-index: -1;
  position: absolute;
  height: 434.45px;
  width: 396.16px;
  transform: rotate(31.18deg);
}
body #item_9 {
  bottom: -1890px;
  left: 0px;
  z-index: -1;
  position: absolute;
  height: 61.8075rem;
  width: 56.2306rem;
  transform: rotate(-179.66deg);
}
body #item_10 {
  top: 2000px;
  right: -120px;
  z-index: -1;
  position: absolute;
  height: 308.8px;
  width: 281.59px;
  transform: rotate(9.96deg);
}
body #item_11 {
  bottom: -1900px;
  right: 150px;
  z-index: -1;
  position: absolute;
  height: 573.38px;
  width: 521.64px;
  transform: rotate(62.47deg);
}

.header {
  height: 100vh;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .nav .nav_logo {
  height: 4.1875rem;
  width: 7.375rem;
}
.header .nav .nav_menu {
  width: 26.125rem;
}
.header .nav .nav_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .nav .nav_menu ul li a {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}
.header section {
  height: calc(90% - 4.1875rem);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header section div {
  display: flex;
  flex-direction: column;
  height: 18.125rem;
}
.header section div .header_text {
  height: 100%;
}
.header section div .header_text .header_title {
  font-size: 3rem;
  color: #FFF;
  font-weight: 700;
  letter-spacing: -0.05em;
  width: 37.5rem;
}
.header section div .header_text .header_title span {
  color: #8C52FF;
}
.header section div .header_text p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  width: 28.125rem;
}
.header section div .header_btn {
  background-color: #FFF;
  color: #5E17EB;
  font-weight: 500;
  letter-spacing: -0.05em;
  height: 3.0625rem;
  width: 8.9375rem;
  border-radius: 0.5625rem;
  font-size: 1.125rem;
  box-shadow: 0 0 2.1875rem rgba(255, 255, 255, 0.64);
  text-shadow: 0px 0px 72px #5E17EB;
}

.main .services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .services .services_title {
  font-size: 3rem;
  color: #FFF;
  font-weight: 700;
}
.main .services .services_container {
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(0.9375rem);
  border-radius: 2.1875rem;
  height: 37rem;
  width: auto;
}
.main .about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
.main .about div {
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: space-around;
}
.main .about div .about_title {
  font-size: 3rem;
  color: #FFF;
  font-weight: 700;
}
.main .about div p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-size: 1.125rem;
  width: 700px;
  line-height: 130.52%;
}

footer {
  display: flex;
  flex-direction: column;
  height: 31.25rem;
  justify-content: space-between;
}
footer .contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(0.9375rem);
  border-radius: 2.1875rem;
  height: 23.0625rem;
  width: 55.75rem;
  margin: 0 auto;
}
footer .contact_container .contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 8.8125rem;
}
footer .contact_container .contact_text h2 {
  font-size: 3rem;
  color: #FFF;
  font-weight: 700;
}
footer .contact_container .contact_text p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  width: 29.25rem;
  text-align: center;
}
footer .contact_container .contact_form {
  margin-top: 3.6875rem;
}
footer .contact_container .contact_form .form {
  display: flex;
}
footer .contact_container .contact_form .form .contact_btn {
  background-color: #FFF;
  color: #5E17EB;
  font-weight: 500;
  letter-spacing: -0.05em;
  height: 1.875rem;
  border: 1px solid #FFF;
  width: 5.8125rem;
  border-radius: 0.375rem 0 0 0.375rem;
}
footer .contact_container .contact_form .form input {
  height: 1.875rem;
  border: 1px solid #FFF;
  width: 22.0625rem;
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0 13px;
  color: #FFF;
  background-color: transparent;
  outline: none;
  border-radius: 0 0.375rem 0.375rem 0;
}
footer .contact_container .contact_form .form input::placeholder {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #FFF;
  font-weight: 300;
}
footer .copy_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .copy_text p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

/*# sourceMappingURL=main.css.map */
